/* original block family */
header h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

div h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1.5px;
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width : 600px) {
  header h1 {
  	color: black;
  }
  div h2 {
  	color: white;
  	background-color: black;
  	width: 350px;
  }
  body {
  	background-color: orange;
  }

}

@media only screen and (min-width : 601px) and (max-width: 900px) {
  header h1 {
  	color: white;
  }
  div h2 {
  	color: orange;
  	background-color: white;
  	width: 500px;
  }
  body {
  	background-color: orange;
  }
}

@media only screen and (min-width : 901px) {
  header h1 {
  	color: orange;
  }
  div h2 {
  	color: black;
  	background-color: orange;
  	width: 750px;
  }
  body {
  	background-color: black;
  }
}