body {
  background-color: #E6FFFF;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 90%;
}

header {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 120%;
}

header h1 {
  background-color: powderblue;
  border: 7px darkturquoise ridge;
  width: 660px;
  margin: auto;
  margin-top: 10px;
}

header h4 {
  color: skyblue;
  letter-spacing: 5px;
  opacity: 0.75;
}

.aside {
  float: left;
  border: 9px lightgray inset;
  width: 15%;
  height: 440px;
  padding: 10px;
  background-color: paleturquoise;
  opacity: 0.75;
  position: fixed;
  left: 20px;
  top: 148px;
}

.aside h3 {
  margin-left: 20px;
}

ul li a {
  text-decoration: none;
}

.rating {
  float: left;
  border: 9px  mediumorchid outset;
  width: 15%;
  height: 90px;
  padding: 10px;
  background-color: rgba(255, 253, 158, 0.9);
  opacity: 0.75;
  font-size: 105%;
  text-align: center;
  position: fixed;
  left: 20px;
  top: 650px;
  display: inline-block;
}

.content {
  padding: 10px;
  margin: 10px;
  width: 75%;
  float: right;
}

.first {
  background-color: pink;
  border: 9px darkred double;
}

.image1 {
  display: block;
  border-radius: 50%;
  border: 5px crimson solid;
  float: right;
  width: 15%;
  position: relative;
  bottom: 100px;
  right: 10px;
}

.second {
  background-color: mediumspringgreen;
  border: 9px seagreen double;
}

.image2 {
  float: right;
  border: 5px darkgreen solid;
  position: relative;
  bottom: 50px;
  right: 10px;
  width: 20%;

}

.third {
  background-color: lightsalmon;
  border: 9px chocolate double;
}

.image3 {
  float: right;
  width: 15%;
  position: relative;
  bottom: 100px;
  right: 10px;
}

.fourth {
  background-color: yellow;
  border: 9px gray double;
}

.fifth {
  background-color: skyblue;
  border: 9px blue double;
}

.sixth {
  background-color: mediumpurple;
  border: 9px orchid double;
}

.seventh {
  background-color: palegreen;
  border: 9px paleturquoise double;
}

.eighth {
  background-color: tomato;
  border: 9px turquoise double;
}

.ninth {
  background-color: teal;
  border: 9px steelblue double;
}

.tenth {
  background-color: peachpuff;
  border: 9px papayawhip double;
}

.bottomhr {
  width: 100%
}

.top{
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  position: relative;
  left: 610px;
}

footer p {
  color: #07CEA0;
  opacity: 0.8;
  position: relative;
  left: 540px;
  letter-spacing: 1px;
}
