/* three-column block family CSS */
header h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width : 600px) {
  header h1 {
  	color: black;
  }
  .block1 h2 { 
  	 display: inline-block;
  }
  .block2 h2 {
  	display: none;
  }
  .block3 h2 {
  	display: none;
  }
  body {
  	background-color: orange;
  }
  .block {
	text-align:center;
  }
  .column {
  	display: block;
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width : 601px) and (max-width: 900px) {
  header h1 {
  	color: white;
  }
  .block1 h2 {
  	display: block;
  }
  .block2 h2 {
  	display: block;
  }
  .block3 h2 {
  	display: none;
  }
  body {
  	background-color: orange;
  }
  .block {
	text-align: center;
  width: 500px;
  margin: 0px auto;
  }
  .column {
	display: inline-block;
	color: orange;
	background-color: white;
	margin: 5px 10px;
	width: 150px;
  }
}

@media only screen and (min-width : 901px) {
  header h1 {
  	color: orange;
  }
  .block1 h2 {
  	display: block;
  }
  .block2 h2 {
  	display: block;
  }
  .block3 h2 {
  	display: block;
  }
  body {
  	background-color: black;
  }
  .block {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
  }
  .column {
	display: inline-block;
	color: black;
	background-color: orange;
	margin: 5px 10px;
	width: 150px;
  }
}